In [3]:
import numpy as np
import pandas as pd

In [5]:
full = pd.read_csv("data/pokemon_full.csv")
full

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,NaN,797,107,101,61,steel,flying,999.9,7,1
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,NaN,798,59,31,109,grass,steel,0.1,7,1
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

In [7]:
full.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [12]:
small = full.loc[:, ~full.columns.str.startswith("against")].copy()
small

,abilities,attack,base_egg_steps,base_happiness,base_total,capture_rate,classfication,defense,experience_growth,height_m,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",49,5120,70,318,45,Seed Pokémon,49,1059860,0.7,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",62,5120,70,405,45,Seed Pokémon,63,1059860,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",100,5120,70,625,45,Seed Pokémon,123,1059860,2.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",52,5120,70,309,45,Lizard Pokémon,43,1059860,0.6,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",64,5120,70,405,45,Flame Pokémon,58,1059860,1.1,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],101,30720,0,570,25,Launch Pokémon,103,1250000,9.2,...,NaN,797,107,101,61,steel,flying,999.9,7,1
797,['Beast Boost'],181,30720,0,570,255,Drawn Sword Pokémon,131,1250000,0.3,...,NaN,798,59,31,109,grass,steel,0.1,7,1
798,['Beast Boost'],101,30720,0,570,15,Junkivore Pokémon,53,1250000,5.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],107,30720,0,600,3,Prism Pokémon,101,1250000,2.4,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],95,30720,0,600,3,Artificial Pokémon,115,1250000,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

In [17]:
cols = "name type1 type2 hp attack defense sp_attack sp_defense speed base_total weight_kg capture_rate is_legendary".split()
small = full[cols].copy()
small

,name,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed,base_total,weight_kg,capture_rate,is_legendary
0,Bulbasaur,grass,poison,45,49,49,65,65,45,318,6.9,45,0
1,Ivysaur,grass,poison,60,62,63,80,80,60,405,13.0,45,0
2,Venusaur,grass,poison,80,100,123,122,120,80,625,100.0,45,0
3,Charmander,fire,NaN,39,52,43,60,50,65,309,8.5,45,0
4,Charmeleon,fire,NaN,58,64,58,80,65,80,405,19.0,45,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,Celesteela,steel,flying,97,101,103,107,101,61,570,999.9,25,1
797,Kartana,grass,steel,59,181,131,59,31,109,570,0.1,255,1
798,Guzzlord,dark,dragon,223,101,53,97,53,43,570,888.0,15,1
799,Necrozma,psychic,NaN,97,107,101,127,89,79,600,230.0,3,1
800,Magearna,steel,fairy,80,95,115,130,115,65,600,80.5,3,1

In [50]:
small[small.capture_rate != "30 (Meteorite)255 (Core)"].to_csv("data/pokemon_small.csv", index=False)

In [51]:
small = pd.read_csv("data/pokemon_small.csv")
small

,name,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed,base_total,weight_kg,capture_rate,is_legendary
0,Bulbasaur,grass,poison,45,49,49,65,65,45,318,6.9,45,0
1,Ivysaur,grass,poison,60,62,63,80,80,60,405,13.0,45,0
2,Venusaur,grass,poison,80,100,123,122,120,80,625,100.0,45,0
3,Charmander,fire,NaN,39,52,43,60,50,65,309,8.5,45,0
4,Charmeleon,fire,NaN,58,64,58,80,65,80,405,19.0,45,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Celesteela,steel,flying,97,101,103,107,101,61,570,999.9,25,1
796,Kartana,grass,steel,59,181,131,59,31,109,570,0.1,255,1
797,Guzzlord,dark,dragon,223,101,53,97,53,43,570,888.0,15,1
798,Necrozma,psychic,NaN,97,107,101,127,89,79,600,230.0,3,1
799,Magearna,steel,fairy,80,95,115,130,115,65,600,80.5,3,1

In [74]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(small, train_size=.75)

In [80]:
def extract_

test_df.to_numpy()[:,9:13]

array([[280, 7.8, 235, 0],
       [485, 24.9, 45, 0],
       [435, 35.0, 45, 0],
       [405, 29.0, 45, 0],
       [468, 32.8, 155, 0],
       [460, 100.0, 200, 0],
       [450, 55.8, 75, 0],
       [330, 7.0, 190, 0],
       [424, 6.5, 45, 0],
       [325, 6.5, 225, 0],
       [474, 71.0, 60, 0],
       [450, 34.6, 30, 0],
       [310, 3.9, 190, 0],
       [405, 22.5, 45, 0],
       [330, 60.0, 180, 0],
       [195, 3.2, 255, 0],
       [285, 1.5, 190, 0],
       [410, 56.0, 45, 0],
       [525, 27.0, 45, 0],
       [485, 34.5, 90, 0],
       [330, 10.4, 190, 0],
       [350, 20.0, 180, 0],
       [551, 0.9, 120, 0],
       [480, 16.3, 75, 0],
       [237, 86.4, 180, 0],
       [245, 1.5, 190, 0],
       [485, 0.3, 60, 0],
       [210, 3.2, 235, 0],
       [495, 60.4, 45, 0],
       [382, 16.0, 120, 0],
       [510, 41.0, 60, 0],
       [270, 5.5, 170, 0],
       [600, 50.5, 3, 1],
       [495, 33.5, 75, 0],
       [485, 108.0, 100, 0],
       [634, 90.5, 45, 0],
       [560, 220.0, 150, 0],
       [300, 42.1, 45, 0],
       [480, 6.6, 75, 0],
       [580, 200.0, 3, 1],
       [300, nan, 255, 0],
       [365, 20.0, 120, 0],
       [210, 1.0, 170, 0],
       [590, 20.6, 45, 0],
       [600, 118.0, 25, 0],
       [580, 175.0, 3, 1],
       [313, 9.0, 45, 0],
       [355, 3.5, 190, 0],
       [237, 5.0, 255, 0],
       [320, 15.0, 225, 0],
       [680, 750.0, 3, 1],
       [289, 6.0, 190, 0],
       [260, 5.3, 255, 0],
       [570, 45.5, 3, 1],
       [600, 230.0, 3, 1],
       [580, 63.0, 3, 1],
       [310, 2.5, 45, 0],
       [400, 33.5, 90, 0],
       [470, 80.4, 90, 0],
       [490, 88.4, 45, 0],
       [530, 90.0, 45, 0],
       [500, 398.0, 60, 0],
       [480, 11.0, 45, 0],
       [448, 4.5, 90, 0],
       [528, 94.6, 45, 0],
       [415, 32.5, 90, 0],
       [455, 55.0, 90, 0],
       [290, 1.0, 200, 0],
       [420, 202.5, 3, 0],
       [680, 216.0, 3, 1],
       [405, 4.2, 200, 0],
       [363, 30.5, 120, 0],
       [290, 15.0, 255, 0],
       [520, 80.0, 60, 0],
       [340, 6.8, 140, 0],
       [455, 32.0, 75, 0],
       [405, 4.2, 200, 0],
       [528, 63.0, 45, 0],
       [485, nan, 75, 0],
       [520, 81.0, 30, 0],
       [570, 100.5, 3, 0],
       [579, 39.5, 45, 0],
       [520, 0.3, 45, 0],
       [290, 7.2, 190, 0],
       [440, 51.0, 60, 0],
       [410, 30.0, 190, 0],
       [680, 120.0, 45, 1],
       [475, 19.0, 80, 0],
       [314, 9.0, 45, 0],
       [264, 2.1, 255, 0],
       [303, 1.5, 190, 0],
       [309, 8.5, 45, 0],
       [580, 52.6, 3, 1],
       [455, 49.8, 45, 0],
       [410, 87.6, 120, 0],
       [600, 68.0, 3, 1],
       [474, 253.8, 200, 0],
       [475, 92.5, 75, 0],
       [600, 2.1, 45, 1],
       [480, 250.0, 60, 0],
       [500, 120.0, 60, 0],
       [476, 3.4, 45, 0],
       [250, 58.0, 45, 0],
       [280, 24.0, 255, 0],
       [265, 1.2, 255, 0],
       [500, 96.0, 45, 0],
       [680, 336.0, 3, 1],
       [405, 97.0, 45, 0],
       [210, 21.0, 75, 0],
       [700, 95.0, 45, 0],
       [580, 250.0, 3, 1],
       [580, 48.5, 3, 1],
       [570, 0.1, 255, 1],
       [485, 120.0, 60, 0],
       [330, 12.0, 120, 0],
       [615, 59.0, 45, 0],
       [680, 203.0, 45, 1],
       [523, 42.0, 45, 0],
       [220, 2.6, 255, 0],
       [435, 1.0, 45, 0],
       [304, 0.2, 190, 0],
       [405, 2.1, 30, 0],
       [250, 20.0, 255, 0],
       [292, 15.2, 180, 0],
       [418, 14.2, 127, 0],
       [540, 68.0, 30, 0],
       [425, 8.5, 120, 0],
       [384, 25.5, 45, 0],
       [525, 300.0, 60, 0],
       [510, 34.0, 45, 0],
       [269, 4.0, 200, 0],
       [310, 13.0, 145, 0],
       [314, 7.0, 45, 0],
       [534, 79.5, 45, 0],
       [334, 50.5, 120, 0],
       [580, 61.0, 3, 1],
       [300, 60.5, 255, 0],
       [530, 291.0, 50, 0],
       [420, 0.8, 45, 0],
       [303, 0.1, 225, 0],
       [430, 17.7, 150, 0],
       [505, 27.3, 30, 0],
       [489, 110.0, 90, 0],
       [194, 2.2, 255, 0],
       [349, 30.0, 120, 0],
       [420, 47.0, 45, 0],
       [494, 81.5, 55, 0],
       [580, 60.0, 3, 1],
       [455, 48.0, 45, 0],
       [468, 23.6, 75, 0],
       [341, 0.5, 200, 0],
       [600, 40.5, 45, 0],
       [420, 25.0, 45, 0],
       [265, 10.8, 255, 0],
       [520, 34.3, 45, 0],
       [340, 28.0, 120, 0],
       [483, 76.5, 90, 0],
       [505, 130.0, 45, 0],
       [555, 12.5, 45, 0],
       [580, 256.5, 75, 0],
       [495, 35.0, 45, 0],
       [500, 56.0, 45, 0],
       [531, 91.0, 45, 0],
       [482, 47.0, 80, 0],
       [560, 88.8, 60, 0],
       [460, 54.5, 45, 0],
       [430, 55.0, 75, 0],
       [305, 12.5, 180, 0],
       [670, 420.0, 3, 1],
       [480, 55.0, 45, 0],
       [490, 75.5, 45, 0],
       [309, 6.2, 45, 0],
       [305, 28.0, 190, 0],
       [345, 52.5, 255, 0],
       [224, 3.4, 120, 0],
       [480, 135.0, 60, 0],
       [600, 195.0, 3, 1],
       [600, 85.6, 3, 1],
       [446, 37.5, 90, 0],
       [220, 13.6, 255, 0],
       [580, 0.3, 3, 1],
       [266, 5.5, 255, 0],
       [300, 7.8, 190, 0],
       [316, 11.0, 190, 0],
       [288, 1.9, 190, 0],
       [484, 33.0, 90, 0],
       [410, 152.0, 45, 0],
       [330, 49.5, 140, 0],
       [500, 920.0, 60, 0],
       [425, 10.5, 45, 0],
       [517, 210.0, 25, 0],
       [466, 8.5, 75, 0],
       [348, 1.2, 125, 0],
       [325, 2.5, 90, 0],
       [473, 24.2, 45, 0],
       [479, 38.0, 60, 0],
       [594, 135.5, 60, 0],
       [335, 9.0, 255, 0],
       [515, 55.0, 60, 0],
       [570, 888.0, 15, 1]], dtype=object)